<div class="main posts-index">
  <div class="container">
      <%= form_with url: posts_path, method: :get, class: 'posts__searchForm' do %>
      <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
      {
        prompt: 'タグで絞り込む', 
        class: 'form-control boards__select', 
        onchange: 'submit(this.form);'
      }
      %>
    <% end %>
    <% if flash[:error_messages]  %>
      <div class="alert alert-danger">
        <ul>
          <% flash[:error_messages].each do |msg|  %>
            <li><%= msg %></li>
          <% end %>
        <ul>
      </div>
    <% end %>



    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
        </div>
        <div class="post-right">
          <!-- 
          <div class="post-user-name">
          </div> 
          -->
          <%= link_to(post.title, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @posts %>